.flip-card {
    width: 200px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
  }
  
  .flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    /* Front card styling */
    /* background-color: #ccc; */
     /* Adjust the background color as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .flip-card-back {
    /* Back card styling */
    /* background-color: #4CAF50;  */
    /* Adjust the background color as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    color: white; /* Adjust the text color as needed */
  }
  